<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!--This allows to use boostrap classes to add navigation bar, etc.-->
    <link
    rel="stylesheet"
    href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
    integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh"
    crossorigin="anonymous"
  />
  <link
    rel="stylesheet"
    href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css"
    crossorigin="anonymous"
  />

  <!--Local css file to change background color-->
  <link rel="stylesheet" href="static/basic.css">

    {% block head %}{% endblock %}
</head>
<body>

    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNavDropdown">
          <ul class="navbar-nav">
            <li class="nav-item active">
              <a class="nav-link" href="/">Home <span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/about">About Me</a>
            </li>
            <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle" href="" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                My cute dogs
              </a>
              <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                <a class="dropdown-item" href="/rocky">Rocky</a>
                <a class="dropdown-item" href="/lucas">Lucas</a>
                <a class="dropdown-item" href="/luna">Luna</a>
              </div>
            </li>
          </ul>
        </div>
      </nav>

      <!--messages is variable which will get all messages we flashed-->
    {% with messages = get_flashed_messages(with_categories = true) %}
    <!--check if we actually have messagest first-->
    {% if messages %}
      <!--if we have messages, we loop through all since we may have more than 1-->
      {% for category, message in messages %}
        <!-- if the flash message is an error category-->
        {% if category == 'error' %}
          <div class="alert alert-danger alter-dismissable fade show" role="alert">
            <!--to actually show the message-->
            {{ message }}
            <button type="button" class="close" data-dismiss="alert">
              <!--to show the 'x' that closes the tab-->
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
        <!-- if it's a success message-->
        {% else %}
          <div class="alert alert-success alter-dismissable fade show" role="alert">
            <!--to actually show the message-->
            {{ message }}
            <!--allow user to close message-->
            <button type="button" class="close" data-dismiss="alert">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
        {% endif %}
      {% endfor %}
    {% endif %}
  {% endwith %}

    {% block body %}Hello World{% endblock %}


    <!--This allows to use Boostrap javaScript, like the dropdown menu showing-->
    <script
    src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
    integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
    crossorigin="anonymous"
  ></script>
  <script
    src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
    integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
    crossorigin="anonymous"
  ></script>
  <script
    src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
    integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
    crossorigin="anonymous"
  ></script>
</body>
</html>