{% extends 'base.html' %}

{% block head %}
<title>Home page</title>
{% endblock %}

{% block body %}
<br />
<div class="container">
    <br />
    <div class="row text-center">
        <div class="col-md-6">
            <h2><strong>Howdy</strong>, My name is</h2>
            <br />
            <h1 class="display-3"><strong>Jesus Hernandez</strong></h1>
            <br />
            <h2>and you are watching <del>Disney Channel.</del></h2>
            <h2 class="text-right">my website.</h2>
            <br />
            <br />
            <br />
            <h3>Connect with me:</h3>
            <!-- Facebook -->
            <a href="https://www.facebook.com/profile.php?id=100005945470843" target="_blank"><img src="static/facebook.png" width=40 height=40></a>
    
            <!-- Instagram -->
            <a href="https://www.instagram.com/yizus_doce/" target="_blank"><img src="static/insta.png" width=40 height=40></a>
    
            <!-- Linkedin -->
            <a href="https://www.linkedin.com/in/jesus-hernandez-55a860210/" target="_blank"><img src="static/linkedin.png" width=40 height=40></a>
    
            <!-- Github -->
            <a href="https://github.com/Yizushdz" target="_blank"><img src="static/github.png" width=40 height=40></a>

        </div>
        <div class="col-md-6">
            <img src="static/my_pic2.jpeg" width=490 height=490 class="rounded-circle float-right">
        </div>
    </div>
</div>

{% endblock %}